<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheesesMapList}">No cheese :(</p>
<!--      and ${cheesesMapList.size()}-->

    <ul>
        <li th:each="cheeses : ${cheesesMapList}">
<!--            <div th:each="cheese : ${cheesesMap}">-->
                <span th:text="${cheeseMap.key}"></span>:
                <span th:text="${cheeseMap.value}"></span>
<!--            </div>-->
        </li>
    </ul>

<!--    <th:block th:each="cheese : ${cheesesMap}">-->
<!--        <tr>-->
<!--            <td th:text="${cheese.cheeseName}">Cheese</td>-->
<!--            <td th:text="${cheese.cheeseDescription}">Cheese Description</td>-->
<!--        </tr>-->
<!--    </th:block>-->

</body>
</html>